@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin-top: 20px;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: stretch;
    transition: all 2s ease;
}

.fighterButts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fighter {
    align-self: center;
}

.butts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.butt:hover {
    background-color: #aaa;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background: white;
    width: 150px;
    font-size: 100px;
    cursor: pointer;
  }

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 48px;
    gap: 24px;
    margin-bottom: 40px;
}

.scoreLocal {
    align-self: center;
}

.scoreLabels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 24px;
}

.computerLabel, .playerLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.winLose {
    color: blue; 
    font-size: 120px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.roundResult {
    animation: fadeIn 3s ease;
    align-self: center;
}

.fadeOut {
    animation: fadeOut 0s ease 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}